@import url('./nav-bar.scss');
@import './home.scss';
@import './menu.scss';
@import './menu-item.scss';

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}