.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    

    .menu-items{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        grid-gap: 30px;
        margin-top: 35px;
    }
}